.logo{
    padding-left: 20px;
    color: white;
    display: flex;
    align-items: center;
}
.logo img{
    margin-right: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px rgb(155, 186, 230);
}
.user-icon, .notification-icon{
    border-radius: 50%;
    width: 40px;
}
.search-button{
    padding: 10px;
    border-radius: 50%;
    margin: 0;
    background: none;
    border: none;
}
.search-icon{
    width: 20px;
    margin: 0;
}
.search {
    display: flex;
    align-items: center;

}
.search input{
    width: 20vw;
    border-radius: 20px;
    padding: 10px;
    margin-right: 10px;
    border: 2px solid rgb(187, 224, 243);
    background: rgb(37, 38, 39);
    color: white;
}
.search img{
    cursor: pointer;
}
.search img:hover{
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
}
.search img, .notification, .profile {
    width: 30px;
    height: 30px;
    border-radius: 50%;

}
.right{
    width: 6%;padding-right: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.Navbar{

                display: flex;
                justify-content: space-between;
                align-items: center;
                background: #2f4050;
                height: 10vh;
                width: 100%;
                padding: 1 10px;
                top: 0;
                left: 0;
                right: 0;
                z-index: 100;
}
.Navbar ul{
    align-items: center;
    /* display: flex; */
    list-style: none;
    justify-content: space-between;
}

.right{
    width: 10%;
}

.right .profile-icon{
    border-radius: 50%;
    width: 35px;
    border: 2px solid rgb(65, 190, 228);
}